$font-main: "GothamPro", "Arial", sans-serif;
$color-black: #000000;
$color-black-brown: #212121;
$color-green: #21a038;
$color-grass: #36853b;
$color-shiny-green: #4fb756;
$color-white-green: #b6ffba;
$color-dark-green: #111311;
$color-gray: #999999;
$color-light-gray: #d9d9d9;
$color-black-gray: #888988;
$color-red: #dd3037;
$color-white: #ffffff;

$mobile-width: 991px;
