.button {
  padding: 10px 33px;
  color: inherit;
  background-color: $color-red;
  border: none;
  border-radius: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
