
.footer {
  color: $color-white;
  background-color: $color-dark-green;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  & a {
    color: inherit;
  }
}

.footer__text {
  margin: 0;
  margin-bottom: 30px;
}

.footer__politics {
  margin-bottom: 15px;
  font-size: 12px;
}
